<!DOCTYPE html>
<head>
    <title>Nonlinear Narrative</title>
    <meta charset="UTF-8">

    <script src="js/p5.js"></script>
    <script src="js/p5.sound.js"></script>
    <script src="js/p5.clickable.js"></script>
</head>
<body>
    <br><br><br><br><br>
    <div id="myContainer" oncontextmenu="return false;" style="text-align: center;">
        <script src="game/script.js"></script>
    </div>
</body>
</html>